.AppHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.Logo {
  width: 80px;
  height: 60px;
}

.iconSpacer {
  width: 100px;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}
